 
  body {
  border: 3px solid black;
  flex-direction: column;
  width: auto;
  height: 100vh;
  background-color: #DAF7A6;
  font-family: 'Arial';
}

#game-instructions {
    position: absolute;
    width: 50%;
    border: 3px solid black;
    top: 25%;
    left: 25%;
    text-align: center;
    background: #EC9DC9;   
}

h1 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   color: purple;
   font-weight: lighter;
}

p {
  font-size: 20px;
}

#enterbtn {
  width: 100px;
  height: 10%;
  font-size: 20px;
  border-radius: 8%;
  cursor: pointer; 
  margin-bottom: 10%;
  border: 2px solid gray;
}
#enterbtn:hover {
  background-color:#27E2CE;
  border: 2px solid black;
}

.game-title {
  color: rebeccapurple;
  font-size: 40px;
  margin-bottom: 100px;
  text-align: center;
  margin-top: 60px;
}
.game-board-container {
  display: flex;
  justify-content: center;
}
.player-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.player-cards-container {
  display: flex;
  justify-content: center;
}
.shuffle-deck {
  display: flex;
  justify-content: center;
}
#shuffle {
  border: 2px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4CAF50;
  color: black;
  border-radius: 3px;
  height: 60px;
  width: 150px;
}
.game-stats {
  display: flex;
  flex-direction: column;
}

.result-display {
  font-size: 30px;
  color: purple;
  text-align: center;
  margin-bottom: 100px;
}





